.centered-grid {
    place-content: center;
    place-items: center;
}

.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#slide-content {
    overflow: scroll;
}

ol {
    list-style: revert;
}

.slidev-vclick-prior {
    opacity: 50%;
}